{{!-- {{#for users as |user|}} --}}
{{#if logged_in}}
<div class="row">
    <div class="col-auto">
        <h4>Welcome!</h4>
    </div>
{{/if}}
</div>
<div class="row">
    <div class="col-12 post-list">
        <div class="accordion " id="accordionExample">
            {{#each posts as |post|}}
            <div class="card mt-4">
                <div class="card-header row" id="headingOne">
                    <h2 class="mb-0 col-11">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {{post.content}}
                        </button>
                    </h2>
                    {{!-- {{#if belongsToUser}} --}}
                    <div class="col-1">
                        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
                    </div>
                    {{!-- {{/if}} --}}
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        {{post.user.name}} @ {{post.date_created}}
                    </div>
                    <div>
                        <a class="btn btn-primary mx-3 my-2" href="/" role="button">Make Comment</a>
                    </div>
                    {{#if comment}}
                    <div>
                        <p>
                            <a class="btn btn-primary mx-3" data-toggle="collapse" href="#collapseExample" role="button"
                                aria-expanded="false" aria-controls="collapseExample">
                                View Comments
                            </a>
                        </p>
                        <div class="collapse" id="collapseExample">
                            {{#each comments as |comment|}}
                            <div class="col-12 mt-2">
                                <div class="card" style="width: 18rem;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <p>{{comment.user_id}}: {{comment.content}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
        <div class="row justify-content-center mt-4">
            <a class="btn btn-primary" href="/newPost" role="button">Create New Post</a>
        </div>
    </div>
</div>

<script src="./js/deletePost.js"></script>