{{!-- {{#for users as |user|}} --}}
{{!-- {{#each user as |user|}} --}}
<div class="row">
    {{#if logged_in}}
    <div class="col-auto">
        <h4>Welcome!</h4>
    </div>
    {{else}}
    <div class="col-auto">
        <h4>Please Sign-In!</h4>
    </div>
    {{/if}}
</div>
{{!-- {{/each}} --}}

<div class="row">
    <div class="col-12 post-list">
        <div class="accordion " id="accordionExample">
            {{#each posts as |post|}}
            <div class="card mt-4">
                <div class="card-header row" id="headingOne">
                    <h2 class="mb-0 col-9 col-md-10 col-lg-11">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {{post.content}}
                        </button>
                    </h2>
                    {{!-- {{#if belongsToUser}} --}}
                    <div class="col-1">
                        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
                    </div>
                    {{!-- {{/if}} --}}
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        {{post.user.name}}: {{format_date post.date_created}} @ {{format_time post.date_created}}
                    </div>
                    <div class="mb-5">
                        <p>
                            <a class="btn btn-primary mx-3 my-2" data-toggle="collapse" href="#collapseExample1"
                                role="button" aria-expanded="false" aria-controls="collapseExample">Make Comment</a>
                        </p>
                        <div class="collapse mx-3" id="collapseExample1">
                            <div class="row">
                                <div class="col-12">
                                    <form class="form new-comment-form">
                                        <div class="form-group">
                                            <label for="new-comment-text">Enter Comment Text</label>
                                            <input type="text" class="form-control" id="new-comment-text"
                                                placeholder="blah, blah, blah...">
                                        </div>
                                        <p hidden id="post_id">{{post.id}}</p>
                                        <button class="btn btn-primary" type="submit">Submit Comment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{#if comments}}
                    <div>
                        <p>
                            <a class="btn btn-primary mx-3" data-toggle="collapse" href="#collapseExample" role="button"
                                aria-expanded="false" aria-controls="collapseExample">
                                View Comments
                            </a>
                        </p>
                        <div class="collapse" id="collapseExample">
                            {{#each comments as |comment|}}
                            <div class="col-12 mt-2">
                                <div class="card" style="width: 18rem;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <p>{{comment.content}} {{comment.user.name}}</p>
                                            <p>{{comment.user.name}}</p> 
                                            {{!-- <p>{{format_date comment.date_created}} @ {{format_time comment.date_created}} </p> --}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
        <div class="row justify-content-center my-4">
            <a class="btn btn-primary" href="/posts" role="button">Create New Post</a>
        </div>
    </div>
</div>

<script src="./js/deletePost.js"></script>
<script src="./js/newComment.js"></script>
